* {
    box-sizing: border-box;
    
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    color: #000;
    line-height: 1.5;
    text-align: center;
    overflow-x: hidden;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url("fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url("fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url("fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 500;
}
#header {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    min-width: 320px;
    padding-top: 1rem;
    margin: 0 auto 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}
#heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 20px;
}
#header #header-img {
    max-width: 100%;    
    height: auto;
    
    display: block;
border-radius: 10px;
}
.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: background-color 0.2s ease, color 0.2s ease;
    font-size: 0.875rem;
    cursor: pointer;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#nav-bar ul {
display: flex;
gap: 20px;
align-items: center;
}
#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.85);
    color: #fff;
    z-index: 1000;
    padding: 1rem 2rem;
    overflow-x: hidden;
}
.nav-link:hover {
    background-color: #1e4fd8;
    color: #fff;
    border-radius: 3px;
    padding: 5px 10px;
    
}
li {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  width: 100%;
  max-width: 1100px;
  min-width: 320px;
  padding: 0 1rem;
  margin: 0 auto;  
}
section {
    
    border-top: 1px solid #ddd;
    padding: 3rem 2rem;
    
}
#freecodecamp {
    background-color: #f0f7ff;
    border-radius: 10px 10px 0 0;
}
#about {
    background-color: #f7fff2;

}
#project {
    background-color: #fff8f0;
}
#contact {
    background-color: #f5f0ff;
}
h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    
}
#contact {
    padding-left: 0;
    margin-right: 0;
    text-align: center;
    

}
section p {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.05rem;
    margin-left: 0;
}

.project-link {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: #fff;
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
    border: 1px solid #1e4fd8;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #2563e2;

    cursor: pointer;

}
.link-wrapper {
    text-align: center;
}
    



.project-link:hover {
    background-color: #1e4fd8;
    transform: scale(1.05);
    border-radius: 10px;
    padding: 5px 10px;
    
}
.video-form {
    width: 90%;
    max-width: 1100px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 30px;
   align-items: center;
   border-radius: 10px;
   padding: 0 1rem;
   background-color: rgba(0, 0, 0, 0.2);
   margin-top: 2rem auto 2rem;
   box-sizing: border-box; 
}


.iframe {
width: 100%;
height: 320px;
display: block;
margin-bottom: 30px;
border-radius: 10px;
}
input[type="email"] {
margin-top: 55px;
}

.form input {
    width: 100%;
    padding: 12px 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}
.form input:focus {
    border: 2px solid#2563e2;
}
.btn {
    width: 100%;
    margin-top: 12px;
    padding: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    background-color: #2563eb;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    transition: 0.2s ease;
}
.btn:hover {
    background-color: #1e4fd8;
}
.form-text {
    direction: ltr;
    text-align: center;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: left;

}
.link-sections {
    display: block;
    direction: ltr;
    text-align: left;
    max-width: 1100px;
    min-width: 220px;
    width: 98%;
}
footer {
    background-color: #222;
    color: #fff;
    padding: 2rem;
}
address {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: flex-start;
}
address a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    cursor: pointer;
    margin: 0;
    transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease; 
}
address a:hover {
    background-color: #2563eb;
    color: #fff;
    transform: scale(1.05);
    border-radius: 10px;
    padding: 5px 10px;
}
address p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    font-style: normal;
    margin: 0;

}
@media (min-width: 768px) {
    .nav-link {
        font-size: 1.125rem;
    }
}
@media (min-width: 768px) {
    .video-form {
        width: 98%;
    }
}